extends layout

block dynamicContent
  p=projectDetails.nom
  p=projectDetails.prenom
  p=projectDetails.age
  p=projectDetails.adresse
  p=projectDetails.mail
  p=projectDetails.formation
  p=projectDetails.formation1
  p=projectDetails.formation2
  

  a(href="/projects/") Back
